* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Raleway', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    width: 100%;
}
.results {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}
nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav ul { 
display: flex;
flex: 1 1 40rem;
text-align: end;
justify-content:flex-end;
/* align-items :right; */
list-style: none;
}
nav ul li:last-child {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}

a:hover {
    color:#0065FC ;
    border-top: #0065FC 2px solid;
    padding-top: 15px;
}

#logo {
  width: 70px; 
}
.contenu h1 {
    margin-left: 30px;
    margin-top: 20px;
}
.contenu .punder {
    margin-left: 30px;
    margin-top: 15px;
}
.search {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 45px;
    margin-top: 30px;
    margin-left: 30px;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
}
.search .icon {
    display: flex;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    padding: 5px;
    width: 45px;
    border-radius: 10px 0 0 10px;
    align-items: center;
    justify-content: center;
}
.search input {
    border: none;
    height:45px;
    padding: 3px;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
}
textarea:focus, input:focus{
    outline: none;
}
.search button {
    height: 45px;
    width: fit-content;
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
}
.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    gap: 3%;
    margin: 40px 20px 20px 20px ;
}

.option:focus {
    background-color:#DEEBFF;
}

.filters i {
color: #0065FC;
}

.option {
    border-color: #D9D9D9;
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    width: fit-content;
    padding: 10px; 
    font-weight: 700;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
}

.option i {
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    margin: 30px 30px 30px 30px;
}

.info i {
    color: #0065FC;
    margin-right: 10px;
}
.hebergement {
    background-color: #D9D9D9;
    width: 60%;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    margin: 5px;
    margin-left: 20px;
    overflow: hidden;
    flex-flow: row wrap;
}
.hebergement h2 {
    width: 100%;
}
.populaires {
    background-color: #D9D9D9;
    width: 35%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 5px;
}
.lieu {
    height: fit-content;
    width: fit-content;
    border-radius: 15px;
    transition: 0.5s ease-in;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 4px 7px 16px 0px rgba(60, 60, 60, 0.59);
}
.populaires .lieu {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 20px;
    width: 90%;
}
.lieu:hover {
    box-shadow: 4px 7px 16px 0px rgba(57, 95, 193, 0.59);
}

.imagelieu {
    border-radius: 15px 15px 0 0;
    width: 13em;
    height: 8em;
    margin: 5px;
}
.populaires .imagelieu {
    border-radius: 15px 0 0 15px;
    width: 150px;
    height: 8em;
}
.lieu h3,.lieu p {
    margin-left: 5px;
    padding: 5px;
}
.note {
    display: flex;
    flex-direction: row;
}
.results .fa-solid{
    margin-left: 5px;
    color: #0065FC;
    margin-bottom: 5px;
}
.results .fa-solid:last-child {
    color: #D9D9D9;
}
.activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carte-activites {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 2%;
}

.activites img {
    width: 15em;
    height: 20em;
    border-radius: 15px 15px 0px 0px;
}

.carte {
    border-radius: 15px;
    box-shadow: 4px 4px 10px 6px rgba(0,0,0,0.15); 
}

.activites p {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.activites img, .activites p {
    display: flex;
    align-content: space-around;

}

/**FOOTER***/

footer {
    background-color: #D9D9D9;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 15%;
    padding: 40px 20px 20px 50px;

}

footer h3 {
    font-family:'Raleway', sans-serif;
    font-weight: medium;
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 10px;
}
footer {
    background-color: #D9D9D9;
    padding: 15px;
    margin: 20px;
    margin-bottom: 0;
    display: flex;
    gap: 10%;
}